= simple_form_for @chapter, url: new_comic_chapter_path(comic_id: params[:comic_id]) do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :cover
    = f.text_field :cover
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :issue
    = f.text_field :issue
  .actions
    = f.submit 'Save'
