= simple_form_for @chapter, url: comic_chapters_path(comic_id: params[:comic_id]) do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |msg|
          %li= msg

  = f.input :file, as: :file, required: true
  = f.input :title
  = f.input :issue
  .actions
    = f.submit 'Save'
