%h1 Listing chapters

%table
  %tr
    %th Cover
    %th Title
    %th Issue
    %th
    %th
    %th

  - @chapters.each do |chapter|
    %tr
      %td= chapter.cover
      %td= chapter.title
      %td= chapter.issue
      %td= link_to 'Show', chapter
      %td= link_to 'Edit', edit_chapter_path(chapter)
      %td= link_to 'Destroy', chapter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Chapter', new_comic_chapter_path
